##
# Copyright (C) 2022-2023 JCovalent
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##
name: "Publish: Maven Central"
on:
  release:
    types:
      - released

permissions:
  contents: read

jobs:
  stage-artifact:
    name: "Stage Artifact"
    runs-on: ubuntu-latest
    steps:
      - name: Install Security Agent
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            artifactcache.actions.githubusercontent.com:443
            objects.githubusercontent.com:443
            downloads.gradle-dn.com:443
            plugins.gradle.org:443
            plugins-artifacts.gradle.org:443
            repo.gradle.org:443
            scans-in.gradle.com:443
            services.gradle.org:443
            repo.maven.apache.org:443
            s01.oss.sonatype.org:443
            jcenter.bintray.com:443

      - name: Checkout Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Import GPG key
        id: gpg-key
        uses: crazy-max/ghaction-import-gpg@01dd5d3ca463c7f10f7f4f7b4f177225ac661ee4 #v6.1.0
        if: ${{ inputs.dry-run-enabled != true }}
        with:
          gpg_private_key: ${{ secrets.GPG_KEY_CONTENTS }}
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: true

      - name: Setup Java
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@87a9a15658c426a54dd469d4fc7dc1a73ca9d4a6 # v2.10.0
        with:
          gradle-version: wrapper
          gradle-home-cache-includes: |
            caches
            notifications
            jdks

      - name: Gradle Assemble
        uses: gradle/gradle-build-action@87a9a15658c426a54dd469d4fc7dc1a73ca9d4a6 # v2.10.0
        with:
          gradle-version: wrapper
          arguments: assemble --scan

      - name: Gradle Publish
        uses: gradle/gradle-build-action@87a9a15658c426a54dd469d4fc7dc1a73ca9d4a6 # v2.10.0
        env:
          MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        with:
          gradle-version: wrapper
          arguments: signMavenPublication publishToSonatype closeSonatypeStagingRepository --scan -Psigning.gnupg.keyName=${{ steps.gpg-key.outputs.fingerprint }}
